/*
	CSS Rules
	Syntax:
		selector {
			property: value;
		}

*/

h1 {
	color: yellow !important;
}

/* UNIVERSAL SELECTOR */
/* CSS reset and change font of every element */
/*box sixing: border-box: ang html ay may box ex: 120px x 120px. Pag may ilagay kang image na 50x50px, kahit na icnhange mo pa ang size ng ng image, di magchechange ang size ng box ng html*/

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

* {
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/* TYPE SELECTOR */
body {
	background-color: skyblue;
}

/*ATTRIBUTE SELECTOR*/
input[required] {
	border-width: 2px;
	border-style: solid;
	border-color: navy;
	width: 90%;
}

/* CLASS SELECTOR */
.offering-item {
	text-transform: uppercase;
}

/* ID SELECTOR */
#zuitt-motto {
	letter-spacing: 5px;
}

/*h3 {
	letter-spacing: 10px;
}*/

/* CSS SELECTORS */

/* ADJACENT SIBLING SELECTOR */

/* sibling + target_element {
	property: value;
}
*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/* GENERAL SIBLING SELECTOR */
/*
	sibling_element ~ target_element {
		property: value;
	}
*/
h2 ~ a, a {
	text-decoration: none;
}

/* refactor: tanggalin ang mga error sa code */

/* CHILD SELECTOR */
/*;
	selector 1 > selector 2 {
		style: properties:
	}
*/

body > section > form > label {
	color: rgb(0, 0, 128);
}

/* DESCENDANT SELECTOR */
/*
	selector1 selector2 {
		style: properties;
	}
*/

#bootcamp-learning-list li {
	color: #075966;
}

html {
	scroll-behavior: smooth;
}

/* NAVIGATION BAR */
nav {
	background-color: white;
}

/* Selector: hover pseudo class */
/* Changes the style when hovered over. Di halata ang changes pero lalabas ang changes pag i hohover mo na */

a:hover {
	background-color: #b4d6de;
}

/* Div for the navbar */
div {
	display: inline-block;
	float: right;
}

/* Landing Section and Form Section */
section {
	height: 100vh;
	text-align: center;
}

/* Welcome to Zuitt and Register */
/* rem = root element; default na sukat ng html element */
h2 {
	font-size: 1.5rem;
}

/* List: Remove number */
ol {
	list-style-type: none;
}

/* Register Form */
form {
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 185px;
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}































