#external-styling {
	color: yellow;
}

/* Universal Selector */
* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}

/* Type Selector */
h1 {
	font-size: 40px;
}

/* ID Selector */
#to-learn-bootcamp {
	text-transform: uppercase;
}

/* Class Selector */
.languages {
	background-color: lightgreen;
}

/* Attribute Selector */
li[name="tools"] {
	border: 2px solid skyblue;
}

/* Adjacent Sibling Selector */
h4 + img {
	list-style-type: none;
}

/* Descendant Selector */
section img {
	height: 10vh;
	width: 10vh;
}

/* Generic Sibling Selector */
ul ~ p {
	text-align: center;
}

/* Child Selector */
section > ul > li {
	letter-spacing: 10px;
}